<template>
    <div class="study">
        <div id="wrapper">
            <div class="header flex">
                <div class="photo"
                     :style="{ 'background-image': `url('${window.API}/${currentUserData.photo}')` }">
                </div>
                <div class="info">
                    <h1>Nikolay Mozharov</h1>
                    <p>{{ currentUserData.description }}</p>
                    <p>
                        <a v-for="link in currentUserData.links"
                           :href="link.link">{{ link.name }}</a>
                    </p>
                </div>
            </div>

            <div class="about">
                <h1>About me</h1>
                <p>{{ currentUserData.about }}</p>
            </div>

            <hr class="separator">

            <div class="tech-list">
                <h1>What did i learn in this course</h1>
                <div class="tech-block" v-for="block in currentUserData.skills">
                    <div class="block-image"
                         :style="{ 'background-image': `url(${window.API}/images${block.imageLink})` }">
                    </div>
                    <div class="tech-info">
                        <div class="tech-info-name">{{ block.name }}</div>
                        <div class="tech-info-description">{{ block.description }}</div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'nmozharov',
        data() {
            return {
                msg: 'Nmozharov',
                window: window
            }
        },
        methods: {
            clickSocial(link) {
                window.open(link.link);
            }
        },
        computed: {
            currentUserData() {
                return this.$store.getters.getCurrentStudent
            }
        },
        created() {
            this.axios.post(`${window.API}/nmozharov`).then((response) => {
                this.$store.commit('setStudentData', response.data)
            }, (error) => {})
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    #wrapper {
        width: 70%;
        min-height: 100vh;
        margin: 0 auto;
        padding-top: 50px;
    }

    .header {
        width: 100%;
        min-height: 300px;
        box-shadow: 0px 4px 16px -7px lightgrey;
        border-radius: 5px;
        overflow: hidden;
        transition: all 0.2s;
    }

    .flex {
        display: flex;
        flex-wrap: wrap;
    }

    .photo {
        width: 40%;
        background-size: cover;
        background-position: center;
    }

    .info {
        display: flex;
        flex-wrap: wrap;
        width: 60%;
        background: #ffeb3bd9;
        text-align: center;
        align-content: center;
        justify-content: center;
        color: #666666;
    }

    .info a {
        margin-right: 10px;
        text-decoration: none;
        color: #1a29c0;
        font-weight: 400;
        opacity: 0;
    }

    .info a:hover {
        text-decoration: underline;
    }

    .header:hover {
        transform: translateY(-2px);
        box-shadow: 0px 4px 16px 0px lightgrey;
    }

    .header:hover .info a {
        opacity: 1;
    }

    .info h1 {
        font-size: 36px;
        width: 100%;
        font-weight: 400;
    }

    .info h1 ~ p {
        font-size: 24px;
        width: 75%;
        font-weight: 100;
    }

    .about {
        text-align: center;
        margin: 30px 25px;
        color: #666666;
    }

    .about > h1 {
        font-size: 32px;
        font-weight: 200;
        margin-bottom: 25px;
    }

    .about > h1 ~ p {
        font-size: 20px;
        font-weight: 100;
        margin-bottom: 25px;
    }

    .separator {
        width: 252px;
        margin: 60px auto;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(133, 133, 133, 0.75), rgba(0, 0, 0, 0));
        height: 1px;
        border: 0;
    }

    .tech-list {
        text-align: center;
        color: #666666;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .tech-list > h1 {
        width: 100%;
        font-size: 28px;
        font-weight: 200;
        margin-bottom: 35px;
    }

    .tech-block {
        min-height: 450px;
        width: 45%;
        background: #e8e8e8;
        border-radius: 5px;
        margin: 10px;
    }

    .tech-info {
        padding: 15px;
    }

    .tech-info-name {
        font-size:22px;
        text-align: center;
    }

    .tech-info-description {
        font-size: 22px;
        text-align: center;
    }

    .block-image {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 40%;
        margin-bottom: 20px;
    }

    @keyframes animate-image {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    @keyframes animate-rotate {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    @media all and (max-width: 680px) {
        #wrapper {
            width: 100%;
            padding-top: 0;
        }

        .tech-list {
            width: 90%;
            margin: 0 auto;
        }

        .photo, .info, .tech-block {
            width: 100%;
            min-height: 200px;
        }
    }

    .lol {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: gray;
    }
</style>
