<template>

  <div id="wrapper">
    <div class="header flex">
      <div class="photo"
           :style="{ 'background-image': `url('${window.API}/${currentUserData.photo}')` }">
      </div>
      <div class="info">
        <h1>{{ currentUserData.name }}</h1>
        <p>{{ currentUserData.description }}</p>
        <div class="soc-info" v-for="link in currentUserData.links" @click="clickSocial(link)">
        </div>
      </div>
    </div>

    <div class="about">
      <h1>About</h1>
      <p>{{ currentUserData.about }}</p>
    </div>

    <hr class="separator">

    <div class="tech-list">
      <h1 class="h1">Skills</h1>
      <div class="s-tech-list">
        <div class="tech-block" v-for="block in currentUserData.skills">
          <div class="block-image"
               :style="{ 'background-image': `url(${window.API}/images${block.imageLink})` }">
          </div>
          <div class="name">{{ block.name }}
            <br>
            {{ block.description }}
          </div>
        </div>
      </div>
    </div>
  </div>

</template>

<script>
  export default {
    name: 'sharmanov',
    data() {
      return {
        msg: 'sharmanov',
        window: window
              }
    },
    methods: {
      clickSocial(link) {
        window.open(link.link);
      }
    },

    computed:{
      currentUserData() {
        return this.$store.getters.getCurrentStudent
      }
    },
    created() {
      this.axios.post(`${window.API}/sharmanov`).then((response) => {
        this.$store.commit('setStudentData', response.data)
      }, (error) => {

      })
    }
  }
</script>


<style scoped>
  * {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    box-sizing: border-box;
  }
  .block-image {
    width: 100%;
    height: 82%;
    background-size: cover;
    background-position: bottom;
  }

  .tech-block:hover {
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.4);
    cursor: pointer;
  }

  .name {
    font-size: 25px;
    padding: 10px;
    background-color: #ffffff;
    color: #616161;
  }
  .s-tech-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .tech-block {
    height: 450px;
    width: 450px;
    min-width: 450px;
    background-color: #e8e8e8;
    border-radius: 5px;
    margin: 10px;
  }

  .soc-info {
    margin: 0 auto;
    margin-top: 20px;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-size: cover;
    cursor: pointer;
    background-image: url(https://cdns.iconmonstr.com/wp-content/assets/preview/2012/240/iconmonstr-deviantart-3.png);
  }

  body {
    height: 100vh;
    width: 100vw;
    background-color: #fff;
  }

  #wrapper {
    background-color: #f3f3f3;
    width: 70%;
    margin: 0 auto;
    padding-top: 100px;
  }

  .h1 {
    padding-bottom: 15px;
  }
  .header{
    display: flex;
    height: 360px;
    background: #ffffff;
    border-radius: 15px;
    overflow: hidden;
    transition: all 0.4s;
  }
  .photo{
    width: 35%;
    background-size: cover;
    background-position: center center;
  }

  .info{
    width: 65%;
    background-color: lightskyblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .info h1{
    font-size: 36px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #fff;
  }

  .info p{
    color: #fff;
    padding: 10px 20px;
  }

  .header:hover {

    box-shadow: 0px 3px 15px -3px grey;

  }

  .about {
    margin-top: 50px;
    text-align: center;
  }


  .about > h1 ~ p {
    font-size: 22px;
    font-weight: 300;
    padding: 10px 20px;
  }



  hr {
    border: 0;
    width: 60%;
    margin: 50px auto;
    background-image: linear-gradient(to right, white, gray, white);
    height: 1px;
  }

  @media all and (max-width: 675px) {
    #wrapper {
      width: 100%;
      padding-top: 0;
    }
    .header{
      border-radius: 0px;
      height: auto;

      min-height: 300px;
      flex-wrap: wrap;
    }
    .photo{
      width: 100%;
      min-height: 200px;
      height: auto;
    }

    .info{
      width: 100%;
      min-height: 200px;
      height: auto;
    }

    .about > h1 ~ p {
      font-size: 18px;
      font-weight: 400;
      text-align: justify;

    }
  }
</style>
