* {
    box-sizing: border-box;
}

.messenger {
    width: 500px;
    height: 500px;
    background-color: lightgray;
    padding: 20px;
}

.messages {
    height: 400px;
    background-color: white;
    margin-bottom: 20px;
    padding: 10px;
    overflow: scroll;
}

.message {
    background-color: dodgerblue;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 5px;
}

.user {
    background-color: tomato;
}

.user-inputs {
    display: flex;
}

.user-inputs .username {
    max-width: 25%;
}

input, button {
    height: 30px;
    flex-grow: 1;
}

.username, .text-message {
    margin-right: 15px;
}

input {
    padding: 5px;
}