* {
    box-sizing: border-box;
}

.start-button {
    margin-bottom: 20px;
}

.playground {
    display: flex;
    flex-wrap: wrap;
    width: 250px;
    height: 250px;
    background: white;
}

.square {
    width: 25px;
    height: 25px;
    background-color: #39d085;
}

.head {
    background-color: #0059af;
    transition: all 0.1s;
}

.tail {
    background-color: dodgerblue;
    transition: all 0.1s;
}

.food {
    background-color: tomato;
    transition: all 0.1s;
}