<template>
        <div class="wrapper">
            
            <div class="header">
                <div class="photo"
                     :style="{ 'background-image': `url('${window.API}/${currentUser.photo}')` }">
                </div>
                <div class="info">
                    <h1>{{ currentUser.name }}</h1>
                    <p>{{ currentUser.description }}</p>
                </div>
            </div>
            <div class="about">
                <h1>{{ currentUser.name }}</h1>
                    <p>{{ currentUser.about }}</p>
            </div>
            <hr>
            <h1>Skills</h1>
            <div class="tech-block" v-for="block in currentUser.skills">
                <div class="block-image" :style="{'background-image': `url(${window.API}/images${block.imageLink})`  }">
                </div>
                {{ block.name }}
                <br>
                {{ block.description }}
            </div>


            <div class="links">
                <h1>Как со мной связаться?</h1>
                <a v-for="link in currentUser.links" :href="link.link">{{ link.name }}</a>

            </div>

        </div>
</template>

<script>
    export default {
        name: 'tsabirzyanov',
        data() {
            return {
                msg: 'tsabirzyanov',
                window: window
            }
        },
        computed: {
            currentUser() {
                return this.$store.getters.getCurrentStudent;
            }
        },
        created() {
            this.axios.post(`${window.API}/tsabirzyanov`).then((response) => {
                this.$store.commit('setStudentData', response.data);
            }, (err) => {
                console.log(err)
            })
        }
    }
</script>


<style scoped>
    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    
}
body{
    height: 100vh;
    width: 100vw;
}
.wrapper{
    height: 100%;
    width: 70%;
    
    margin: 0 auto;
    padding-top: 100px;
}
/*Блок с фото и именем*/
.header {
    display: flex;
    height: 300px;
    background: white;
    overflow: hidden;
    border-radius: 5px;
    transition: all 0.3s;
}   
.photo{
    width: 35%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.info{
    width: 65%;
    background: #B54533;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
.info h1{
    font-size: 40px;
    width: 100%;
    text-align: center;
    font-weight: 400;
    color: #F6FEEF;
}
.info p {
    font-size: 32px;
    width: 100%;
    text-align: center;
    color: #F6FEEF;
}
.header:hover {
    box-shadow: 2px 1px 12px -3px;
}
/*Блок с фото и именем*/
/*Блок "О себе"*/
.about{
    text-align: center;
    margin-top: 50px;

}
.about > h1 {
    font-size: 34px;
    font-weight: 200;
}
.about > h1 ~ p {
    font-size: 22px;
    font-weight: 200;
    margin-top: 30px;
    word-break: break-all;

}
/*Блок "О себе"*/
hr {
    border: 0;
    width: 60%;
    margin: 50px auto;
    background-image: linear-gradient(to right, white,gray,white);
    height: 1px;
    
}
/*Блок "Умения"*/
    .tech-block{
        min-height: 300px;
        width: 300px;
        background: #e8e8e8;
        border-radius: 5px;
        margin: 10px;
        display: inline-block;
    }
    .block-image {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 200px;
        width:100%;
        margin-bottom: 20px;
    }
/*Контакты*/
    .links{
        padding: 50px;
        height: 500px;


    }
    .links > h1 {
        padding: 20px;

    }
    .links a {
        display: block;
    }
/*Адаптивность*/
@media all and (max-width: 500px) {
    .wrapper {
        width: 100%;
        padding: 0;
    }
    .header {
        min-height: 300px;
        border-radius: 0;
        flex-wrap: wrap;
        height: auto;
    }
    .header .info, .header .photo {
        width: 100%;
    }
    .header .photo {
        min-height: 200px;
    }
    .header .info {
        padding: 20px 10px;
    }
    .about p{
        padding: 0 20px;
    }
}

   
</style>
