<template>
    <div class="edit">
        <div class="edit-group">
            <img v-if="preview" :src="preview" alt="">
            <img v-if="!preview && photo" :src="photo" alt="">
        </div>
        <div class="edit-group">
            <input type="file" accept="image/*" name="file" id="file" class="inputfile" v-on:change="handleFile" />
            <label for="file">Выберите фото</label>
        </div>
        <div class="edit-group">
            <input type="text" v-model="name" placeholder="Ваше полное имя" maxlength="150">
        </div>

        <div class="edit-group">
            <input type="text" v-model="description" placeholder="Краткое описание" maxlength="300">
        </div>


        <div class="edit-group">
            <textarea rows="4" type="text" v-model="about" placeholder="Несколько слов о себе" maxlength="1000"></textarea>
        </div>

        <div class="edit-group">
            <h3>Умения</h3>
            <div v-for="(skill, index) in skills" class="skill">
                <input type="text" v-model="skill.name" placeholder="Название" maxlength="300">
                <input type="text" v-model="skill.description" placeholder="Описание" maxlength="500">
                <input type="text" v-model="skill.imageLink" placeholder="Ссылка фото обложки" maxlength="1000">
                <button @click="deleteSkill(index)" class="danger">Удалить</button>
            </div>
            <hr class="hr">
            <button @click="addSkill()" class="success">Добавить умение</button>
        </div>

        <div class="edit-group">
            <h3>Контакты, ссылки</h3>
            <div v-for="(link, index) in links" class="skill">
                <input type="text" v-model="link.name" placeholder="Название (VK, телефон, и т.д.)" maxlength="500">
                <input type="text" v-model="link.link" placeholder="Ссылка" maxlength="500">
                <button @click="deleteLink(index)" class="danger">Удалить</button>
            </div>
            <hr class="hr">
            <button @click="addLink()" class="success">Добавить контакт</button>
        </div>

        <div class="edit-group">
            <input type="text" v-model="newPassword" placeholder="Новый пароль" maxlength="100">
        </div>

        <div v-if="newPassword" class="edit-group">
            <input type="text" v-model="oldPassword" placeholder="Старый пароль" maxlength="100">
        </div>

        <div class="edit-group">
            <button @click="saveData()">Сохранить</button>
        </div>
    </div>
</template>

<script>
    import VueNotifications from 'vue-notifications';
    import auth from '../auth/auth'

    export default {
        name: 'edit',
        data() {
            return {
                msg: 'Edit',
                file: '',
                preview: '',
                name: '',
                description: '',
                about: '',
                newPassword: '',
                oldPassword: '',
                skills: [],
                links: [],
            }
        },
        methods: {
            handleFile(event) {
                const Reader = new FileReader();
                const file = event.target.files[0];

                Reader.onloadend = () => {
                    console.log(Reader.result);
                    this.preview = Reader.result;
                    this.file = file;
                };

                Reader.readAsDataURL(file);
            },
            saveData() {
                const data = new FormData();
                data.append('file0', this.file);
                data.append('name', this.name || '');
                data.append('description', this.description || '');
                data.append('about', this.about || '');
                data.append('skills', JSON.stringify(this.skills));
                data.append('links', JSON.stringify(this.links));
                data.append('newPassword', this.newPassword);
                data.append('oldPassword', this.oldPassword);
                this.axios.post(`${window.API}/edit`, data).then(response => {
                    if (response.data && response.data.error) {
                        VueNotifications.error({ message: response.data.error });
                    } else {
                        VueNotifications.success({ message: 'Сохранено' });
                        auth.checkAuth();
                    }
                }, error => {
                    VueNotifications.error({ message: 'Что-то пошло не так' });
                });
            },
            deleteSkill(index) {
                this.skills.splice(index, 1);
            },
            addSkill() {
                this.skills.push({
                    name: '',
                    description: '',
                    imageLink: ''
                });
            },
            deleteLink(index) {
                this.links.splice(index, 1);
            },
            addLink() {
                this.links.push({
                    name: '',
                    link: ''
                });
            }
        },
        created() {
            const userData = this.$store.getters.getUserData;
            this.name = userData.name;
            this.description = userData.description;
            this.about = userData.about;
            this.photo = `${window.API}/${userData.photo}`;
            this.skills = userData.skills;
            this.links = userData.links;
        }
    }
</script>

<style scoped>
    h3 {
        font-size: 26px;
        margin: 10px auto;
        font-weight: normal;
    }

    .hr {
        margin: 15px auto;
        border-bottom-style: solid;
        border-bottom-color: lightgray;
        border-bottom-width: 1px;
        width: 50%;
    }

    .skill {
        margin: 10px auto;
    }

    .edit {
        display: flex;
        flex-wrap: wrap;
        max-width: 40%;
        justify-content: center;
    }

    .edit-group {
        margin: 20px auto;
        width: 100%;
    }

    input {
        box-sizing: border-box;
        width: 100%;
        height: 35px;
        padding: 0 10px;
        font-size: 20px;
        outline: none;
        border: 1px solid #88888861;
        border-radius: 3px;
        margin-bottom: 15px;
    }

    textarea {
        box-sizing: border-box;
        width: 100%;
        padding: 10px;
        font-size: 20px;
        outline: none;
        border: 1px solid #88888861;
        border-radius: 3px;
        margin-bottom: 15px;
        resize: none;
    }

    button {
        cursor: pointer;
        height: 40px;
        font-size: 20px;
        background: dodgerblue;
        color: white;
        padding: 0 10px;
        outline: none;
        border: none;
        border-radius: 3px;
        line-height: 20px;
    }

    .danger {
        background-color: tomato;
        color: white;
    }

    .success {
        background-color: #259025;
        color: white;
    }

    .inputfile {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }

    .inputfile + label {
        font-size: 20px;
        font-weight: normal;
        color: white;
        background-color: #4f4d8a;
        display: inline-block;
        padding: 10px;
    }

    .inputfile:focus + label,
    .inputfile + label:hover {
        background-color: red;
    }

    img {
        width: 150px;
    }
</style>
