<template>
    <div class="study" v-on:keypress.enter="login()">
        <p>Авторизация</p>
        <input type="text" v-model="user">
        <input type="password" v-model="password">
        <button @click="login()">Войти</button>
    </div>
</template>

<script>
    import auth from '../auth/auth';
    import VueNotifications from 'vue-notifications';

    export default {
        name: 'login',
        data() {
            return {
                user: '',
                password: ''
            }
        },
        methods: {
            login() {
                auth.login(this, {
                    user: this.user,
                    password: this.password
                }).then((data) => {
                    let user = data.data;
                    if (user.user) {
                        this.$store.commit('setUserData', user);
                        VueNotifications.success({ message:  `Привет ${user.user} :)` });
                        this.$router.push('/');
                    } else {
                        if (data.error) {
                            VueNotifications.error({ message:  data.error });
                        } else {
                            VueNotifications.error({ message:  `Что-то пошло не так :(` });
                        }
                    }
                })
            }
        }
    }
</script>

<style scoped>
    .study {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 20%;
        margin: 0 auto;
    }

    p {
        margin-bottom: 20px;
        font-size: 22px;
    }

    input {
        width: 100%;
        height: 35px;
        padding: 0 10px;
        font-size: 20px;
        outline: none;
        border: 1px solid #88888861;
        border-radius: 3px;
        margin-bottom: 15px;
    }

    button {
        cursor: pointer;
        height: 40px;
        font-size: 20px;
        background: dodgerblue;
        color: white;
        padding: 0 10px;
        outline: none;
        border: none;
        border-radius: 3px;
        line-height: 20px;
    }
</style>
