<template>
    <div class="study">
        <img src="../assets/logo.png">
        <h1>{{ msg }}</h1>
        <h2>Июнь 2018</h2>
        <p class="main-description">{{ descr }}</p>
        <hr class="hr">
        <h2 class="sudents-header">Работы студентов - их профили</h2>
        <div class="students-list" v-if="students && students.length">
            <div class="student" v-for="student in students" @click="goToStudent(student.user)">
                <div class="student-photo" :style="{ 'background-image': `url(${window.API}/${student.photo})` }"></div>
                <p class="student-name">{{ student.name }}</p>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'mainpage',
        data() {
            return {
                window: window,
                msg: 'МАИ. Курс Front-End Разработки',
                descr: 'Этот проект разрабатывался студентами курса под руководством преподавателя.\n' +
                ' В ходе изучения студенты получили знания, необходимые для разработки современных одностраничных ' +
                'веб-приложений с использованием CSS HTML Javascript и фреймворка VueJS'
            }
        },
        methods: {
            goToStudent(path) {
                this.$router.push(path);
            }
        },
        computed: {
            students() {
                return this.$store.getters.getStudents;
            }
        },
        created() {
            this.axios.post(`${window.API}/students`).then((response) => {
                this.$store.commit('setStudents', response.data)
            }, (err) => {
                console.log(err)
            })
        }
    }
</script>

<style>
    .hr {
        margin: 15px auto;
        border: none;
        border-bottom-style: solid;
        border-bottom-color: lightgray;
        border-bottom-width: 1px;
        width: 300px;
    }

    .sudents-header {
        font-weight: normal;
        font-size: 26px;
        margin-bottom: 45px;
    }

    .students-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 80%;
        margin: 0 auto;
    }

    .student {
        cursor: pointer;
        width: 200px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        transition: all .2s;
        margin-bottom: 25px;
    }

    .student:hover {
        transform: scale(1.05);
    }


    .student-photo {
        width: 150px;
        height: 150px;
        background-color: lightgray;
        border-radius: 50%;
        margin-bottom: 20px;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .student-name {
        font-size: 20px;
        text-align: center;
    }

    .main-description {
        font-size: 18px;
        margin: 20px auto;
        max-width: 50%;
    }
</style>
