<template>
  <div class="wrapper">
    <div class="header">
      <div class="photo">
      </div>
      <div class="info">
        <h1>Snezhana Lopatkina</h1>
        <p>student of the Moscow Aviation Institute</p>
        <p>
                        <a v-for="link in currentUserData.links"
                           :href="link.link">{{ link.name }}</a>
        </p>
      </div>
    </div>

    <div class="about">
      <h1>About me...</h1>
      <br>
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam convallis a ex at fermentum. Aliquam erat volutpat. Maecenas ligula enim, congue sed faucibus eget, fringilla in turpis. Quisque nec consequat sapien, ac facilisis dui. Aliquam erat volutpat. Nunc molestie vulputate ipsum, nec egestas leo porta in. Cras vel ipsum et magna facilisis bibendum vel in metus. Nunc vitae nulla lacinia risus rhoncus gravida. In urna leo, convallis sed arcu sit amet, varius faucibus ipsum. Nunc condimentum purus at ipsum iaculis iaculis. Vestibulum commodo vitae tellus sit amet vestibulum. Phasellus efficitur, lectus in consequat venenatis, nisl sapien blandit arcu, id lacinia justo libero vitae ex. Integer sit amet egestas velit, vel mollis justo.(lorem ipsum) </p>
    </div>

    <hr class="separator">
            <div class="tech-list">
                <h1>What did i learn in this course:</h1>
                <div class="tech-block" v-for="block in currentUserData.skills">
                    <div class="block-image"
                         :style="{ 'background-image': `url(${window.API}/images${block.imageLink})` }">
                    </div>
                    {{ block.name }}
                    <br>
                    {{ block.description }}
                </div>
            </div>

  </div>
</template>

<script>
    export default {
        name: 'slopatkina',
        data() {
            return {
                msg: 'slopatkina',
                window: window
            }
        },
        computed: {
            currentUserData() {
                return this.$store.getters.getCurrentStudent;
            }
        },
        created() {
          this.axios.post(`${window.API}/slopatkina`).then((response)=>{
            this.$store.commit('setStudentData', response.data);
          }, (error)=>{})
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    height: 100vh;
    width: 100vw;
  }

  .wrapper {
    background-color: lightblue;
    width: 70%;
    margin: 0 auto;
    padding-top: 50px;
    min-height: 100vh;
  }
  /* Блок с фото и именем */
  .header {
    transition: all 0.3s;
    display: flex;
    height: 300px;
    background: blue;
    overflow: hidden;
  }

  .photo {
    width: 35%;
    background-image: url("http://files.mai.ru/site/unit/voshod/images/logMAI1.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 65%;
    background: rgba(185,241,255,0.64);
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
  }

  .info h1 {
    width: 100%;
    font-size: 36px;
    font-weight: 900;
  }

  .info p {
    font-size: 24px;
    width: 100%;
  }


  /* Блок "О себе" */
  .about {
    margin-top: 50px;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
  }
  .about h1 {
    font-size: 36px;
    font-weight: 900;
  }
  .about > h1 ~ p {
    font-size: 22px;
    font-weight: 200;
    margin-bottom: 20px;
  }

  .block-image{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 60%;
    margin-bottom: 40px;
    border-radius: 5px;
  }

  .tech-list {
    text-align: center;
    color: #666666;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .tech-list > h1 {
    width: 100%;
    font-size: 28px;
    font-weight: 200;
    margin-bottom: 1px;
  }

  .tech-block {
    min-height: 300px;
    width: 45%;
    background: #D9EBF8;
    border-radius: 5px;
    margin: 10px;
  }

  .tech-block:hover {
      animation: animate-rotate 1s linear infinite;
  }

  /* Блок с фото и именем, наведение мыши*/

  .header:hover {
    box-shadow: 0px 3px 15px -3px gray;
  }

  /* Подчеркивание */
  hr {
    border: 0;
    width: 320px;
    margin: 50px auto;
    height: 1px;
    background-image: linear-gradient(to right, white, gray, white);
  }


  /* Адаптивность*/
  @media all and (max-width: 500px) {
    .wrapper {
      width: 100%;
      padding: 0;
    }

    .header {
      height: auto;
      min-height: 300px;
      flex-wrap: wrap;

    }

    .header .info, .header .photo {
      width: 100%;
    }
    .header .photo {
      min-height: 200px;
    }
    .header .info {
      padding: 20px 10px;
    }

    .about p {
      padding: 0 10px;
    }

    hr {
      width: 40%;
    }




  }

</style>
