<template>
<div class="body">
	<div class="wrapper" id="top">
		<div class="avatar"
		:style="{ 'background-image': `url('${window.API}/${currentUserData.photo}')` }">
		<span>{{ currentUserData.about }}</span>
		</div>
		<div class="info">
			<h4>{{ currentUserData.name }}</h4>
			<br>
			<p>{{ currentUserData.description }}</p>
		</div>
	</div>
	<div class="splitter">
		
	</div>
	<div class="wrapper" id="mid">
		<a v-for="link in currentUserData.links"
		:href="link.link">{{ link.name }}</a>
	</div>
	<div class="tech-list">
		<h1>What did I learn during whole life</h1>
		<div class="tech-block" v-for="block in currentUserData.skills">
			<div class="block-image"
				:style="{ 'background-image': `url(${window.API}/images${block.imageLink})` }">
			</div>
			{{ block.name }}
			<br>
			<span>{{ block.description }}</span>
		</div>
	</div>
</div>
</template>


<script>
	export default
	{
		name: 'Greg',
		data()
		{
			return {
				msg: 'Greg',
				window: window
				// data: {},
			}
		},
		computed: {
			currentUserData()
			{
				return this.$store.getters.getCurrentStudent
			}
		},
		created()
		{
			this.axios.post(`${window.API}/gchernyshev`).then((response) => {
				this.$store.commit('setStudentData', response.data);
			}, (error) => {

			});
		},
	}
</script>

<style scoped>
	*
	{
		user-select: none;
	}
	.body
	{
		min-height: 100vh;
		min-width: 100vw;
		color: #ffffff;
		text-align: justify;
	}
	.avatar
	{
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		height: 100%;
		width: 50%;
		/*argin-bottom: 20px;*/
		border: 3px solid #990073;
		border-radius: 10px;
		opacity: 0.8;
		padding: 15px;
	}
	.avatar:hover
	{
		opacity: 1;
	}
	.avatar:hover span
	{
		opacity: 0;
	}

	.info
	{
		margin-left: 10vw;
		border: 3px solid #990073;
		border-radius: 10px;
		opacity: 0.8;
		padding: 5vw;
		background-color: #82899c;
		width: 35%;
	}
	.info:hover
	{
		opacity: 1;
	}
	.wrapper
	{
		padding: 40px;
		display: flex;
		flex-wrap: wrap;
	}
	.wrapper#top
	{
		width: 100vw;
		height: 52vw;
		background: url("https://whc-cdn.games-workshop.com/wp-content/uploads/2017/12/NurgleXmas-Wallpapers7yevc.jpg");
		background-size: cover;
	}
	.wrapper#mid
	{
		width: 100vw;
		height: 60vw;
		background: url("http://s1.funon.cc/img/orig/201610/30/5815392ee3494.jpg");
		background-size: cover;
	}
	.wrapper#mid a
	{
		color: #ffffff;
		margin-right: 8vw;
		text-decoration: none;
	}
	.wrapper#mid:hover
	{
		width: 100vw;
		height: 60vw;
		background: url("https://pre00.deviantart.net/f93c/th/pre/f/2012/278/c/8/slaanesh_wallpaper_by_dockrus-d5gufim.png");
		background-size: cover;
	}
	.splitter
	{
		height: 5px;
		width: 100vw;
		background-color: #990073;
	}
	.tech-list
	{
		text-align: center;
		color: #666666;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.tech-list span
	{
		text-align: justify;
	}

	.tech-list > h1
	{
		width: 100%;
		font-size: 28px;
		font-weight: 200;
		margin-bottom: 35px;
	}

	.tech-block
	{
		min-height: 450px;
		width: 45%;
		background: #e8e8e8;
		border-radius: 5px;
		margin: 10px;
	}

	.block-image
	{
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		height: 60%;
		margin-bottom: 20px;
	}
	@media all and (max-width: 680px)
	{
		.avatar, .info
		{
			width: 100%;
			padding-top: 0;
			margin-left: 0;
			margin-bottom: 4.3vh;
			overflow-y: scroll;
		}

		a
		{
			margin-top: 10vh;
		}

		.avatar:hover span
		{
			opacity: 0.6;
		}

		.tech-list
		{
			width: 90%;
			margin: 0 auto;
		}

		.tech-block
		{
			width: 100%;
			min-height: 500px;
		}

	}


</style>