<template>
    <div class="study">
        <h4>{{ msg }}</h4>
    </div>
</template>

<script>
    export default {
        name: 'students',
        data() {
            return {
                msg: 'Students'
            }
        },
        created() {
            console.log('Students')
        }
    }
</script>

<style scoped>

</style>
