<template>
  <div id="app">
    <div class="sticky-header">
        <span class="mainpage" @click="$router.push('/')">Главная</span>
        <span v-if="!userData.user" class="login" @click="$router.push('/login')">Войти</span>
        <span v-if="userData.user" class="user logout" @click="logout">выйти</span>
        <span v-if="userData.user" class="user" @click="$router.push('/edit')">{{ userData.user }}</span>
    </div>
    <router-view/>
  </div>
</template>

<script>
export default {
    name: 'App',
    methods: {
        logout() {
            this.axios.post(`${window.API}/logout`).then(() => {
                this.$store.commit('logout');
                this.$router.push('/');
            }, () => {
                this.$router.push('/');
            })
        }
    },
    computed: {
        userData() {
            return this.$store.getters.getUserData;
        }
    }
}
</script>

<style>
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
  }

  .sticky-header {
    height: 50px;
    background: #ffffffa8;
    opacity: .8;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    box-shadow: 1px 1px 19px -1px #0000004a;
  }

  #app {
    padding-top: 50px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    min-height: 100vh;
    background-color: #f3f3f3;
  }

  .user, .login {
    cursor: pointer;
    line-height: 50px;
    float: right;
  }

  .user {
    color: #339433;
  }

  .logout {
      margin-left: 10px;
      color: #ad5555;
      text-decoration: underline;
  }

  .mainpage {
    cursor: pointer;
    line-height: 50px;
    float: left;
  }
</style>
